main{
display: grid;
grid-template-columns:  1fr 1fr 1fr;  
grid-template-rows: 1fr 1fr ; 
}

.heading{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: url("https://cutewallpaper.org/21/anime-crossover-wallpaper/HD-wallpaper-Anime-Crossover-Alchemist-Alphonse-Elric-.jpg")
    no-repeat;
    background-size: cover; 
    color: crimson;
    text-align: center; 
}
h1{
    grid-column: 1 /4;
    margin-top: 8%;
    text-decoration: solid aliceblue;
    text-shadow:4px 3px 2px white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    height: 100vh;
    background-color: black;
    font-family: "poppins", sans-serif;
}

select{
    font-family: "poppins", sans-serif;
}

.dropdown{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.genre, .type{
    position: relative;
}

.genre option,
 .type option {
position: absolute;
left: 0px;
background: white;
margin-top: 10px;
width: 200px;
height: 200px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
list-style: none; /* this gets rid of the bullets next to each list*/
border-radius: 5px;
opacity: 0;
/* pointer-events: none; */
transform: translateY(-10px);
transition: all 0.4s ease;
}



.genre option,
.type option{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genre option:hover,
.type option:hover{
    background-color: silver ;
}


.dropdown select
{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown select:hover{
    color: gold;
}

.genre select:focus + option,
.type select:focus + option { /* when you focus on the button affect the ul */
opacity: 1;
pointer-events: all;
transform: translateY(0px);
}

footer{
color: white;
grid-row: 4 /5;
grid-column: 1 / 3;

color: crimson;
}

.link-text{
    margin-bottom: 0;
}



.img-container{
    display: grid;
    justify-content: center;
    align-items: center;
   
}

.type-Info{
    display: grid;
    color: aliceblue;
}

p{
display: grid;
    background-color: crimson;
    row-gap: 10px;
    color:  rgb(11, 11, 11);
}
@media screen and (min-width: 375px) and (max-width: 667px) {
    body{
        background-color: firebrick;
    }
    p{
        background-color: black;
        color: aliceblue;
    }
    footer{
        color: white;
    }
  }
  
  @media screen and (min-width:668){
    .link-text{
        color: white;
    }
  }
 
   
  
